{% extends 'base.html.twig' %}

{% block title %}Listado de Inmuebles{% endblock %}

{% block body %}
<div class="container-fluid py-1 pt-3">
    <h1>Listado de Inmuebles</h1>

    <a class="btn btn-outline-dark py-1" href="{{ path('app_inmueble_new') }}">Alta de nuevo Inmueble</a>

    <table class="table table-striped mt-3">
        <thead>
            <tr>
                <th>Id</th>
                <th>Calle</th>
                <th>Cp</th>
                <th>Localidad</th>
                <th>Provincia</th>
                <th>opciones</th>
            </tr>
        </thead>
        <tbody>
        {% for inmueble in inmuebles %}
            <tr>
                <td>{{ inmueble.id }}</td>
                <td>{{ inmueble.calle }}</td>
                <td>{{ inmueble.cp }}</td>
                <td>{{ inmueble.localidad }}</td>
                <td>{{ inmueble.provincia }}</td>
                <td>
                    <a class="btn btn-outline-dark py-0 px-1" href="{{ path('app_inmueble_show', {'id': inmueble.id}) }}">Ver</a>
                    <a class="btn btn-outline-dark py-0 px-1" href="{{ path('app_inmueble_edit', {'id': inmueble.id}) }}">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">No se encontraron inmuebles que mostrar</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>    
{% endblock %}
