{% extends 'base.html.twig' %}

{% block title %}Listado de Averías{% endblock %}

{% block body %}
<div class="container-fluid py-1 pt-3">
    <h1>Listado de Averías</h1>

    <a class="btn btn-outline-dark py-1" href="{{ path('app_averia_new') }}">Alta de nueva Avería</a>

    <table class="table table-striped mt-3">
        <thead>
            <tr>
                <th>Id</th>
                <th>Fecha</th>
                <th>Descripcion</th>
                <th>Póliza</th>
                <th>Aseguradora</th>
                <th>Inmueble</th>
                <th>opciones</th>
            </tr>
        </thead>
        <tbody>
        {% for averium in averias %}
            <tr>
                <td>{{ averium.id }}</td>
                <td>{{ averium.fecha ? averium.fecha|date('Y-m-d') : '' }}</td>
                <td>{{ averium.descripcion }}</td>
                <td>{{ averium.poliza }}</td>
                <td>{{ averium.poliza.aseguradora }}</td>
                <td>{{ averium.poliza.inmueble }}</td>
                <td>
                    <a class="btn btn-outline-dark py-0 px-1" href="{{ path('app_averia_show', {'id': averium.id}) }}">Ver</a>
                    <a class="btn btn-outline-dark py-0 px-1" href="{{ path('app_averia_edit', {'id': averium.id}) }}">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">No se encontraron averías que mostrar</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>    
{% endblock %}
