{% extends 'base.html.twig' %}

{% block title %}Listado de Aseguradoras{% endblock %}

{% block body %}
<div class="container-fluid py-1 pt-3">
    <h1>Listado de Aseguradoras</h1>

    <a class="btn btn-outline-dark py-1" href="{{ path('app_aseguradora_new') }}">Alta de nueva Aseguradora</a>

    <table class="table table-striped mt-3">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Cif</th>
                <th>Telefono</th>
                <th>Mail</th>
                <th>opciones</th>
            </tr>
        </thead>
        <tbody>
        {% for aseguradora in aseguradoras %}
            <tr>
                <td>{{ aseguradora.id }}</td>
                <td>{{ aseguradora.nombre }}</td>
                <td>{{ aseguradora.cif }}</td>
                <td>{{ aseguradora.telefono }}</td>
                <td>{{ aseguradora.mail }}</td>
                <td>
                    <a class="btn btn-outline-dark py-0 px-1" href="{{ path('app_aseguradora_show', {'id': aseguradora.id}) }}">Ver</a>
                    <a class="btn btn-outline-dark py-0 px-1" href="{{ path('app_aseguradora_edit', {'id': aseguradora.id}) }}">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">No se encontraron aseguradoras que mostrar </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>    
{% endblock %}
