{% extends 'base.html.twig' %}

{% block title %}Aseguradora{% endblock %}

{% block body %}
<div class="container py-1 pt-3">
    <h1>Aseguradora</h1>

    <table class="table table-striped mt-3">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ aseguradora.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ aseguradora.nombre }}</td>
            </tr>
            <tr>
                <th>Cif</th>
                <td>{{ aseguradora.cif }}</td>
            </tr>
            <tr>
                <th>Telefono</th>
                <td>{{ aseguradora.telefono }}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ aseguradora.mail }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-outline-dark py-1" href="{{ path('app_aseguradora_index') }}">Volver al Listado</a>

    <a class="btn btn-outline-dark py-1" href="{{ path('app_aseguradora_edit', {'id': aseguradora.id}) }}">Edit</a>

    {{ include('aseguradora/_delete_form.html.twig') }}
</div>
{% endblock %}
