{% extends 'base.html.twig' %}

{% block title %}Listado de Asegurados{% endblock %}

{% block body %}
<div class="container-fluid py-1 pt-3">
    <h1>Listado de Asegurados</h1>

    <a class="btn btn-outline-dark py-1" href="{{ path('app_asegurado_new') }}">Alta de nuevo Asegurado</a>

    <table class="table table-striped mt-3">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellido1</th>
                <th>Apellido2</th>
                <th>opciones</th>
            </tr>
        </thead>
        <tbody>
        {% for asegurado in asegurados %}
            <tr>
                <td>{{ asegurado.id }}</td>
                <td>{{ asegurado.nombre }}</td>
                <td>{{ asegurado.apellido1 }}</td>
                <td>{{ asegurado.apellido2 }}</td>
                <td>
                    <a class="btn btn-outline-dark py-0 px-1" href="{{ path('app_asegurado_show', {'id': asegurado.id}) }}">Ver</a>
                    <a class="btn btn-outline-dark py-0 px-1" href="{{ path('app_asegurado_edit', {'id': asegurado.id}) }}">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">No se encontraron asegurados que mostrar</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>   
</div>    
{% endblock %}
