{% extends 'base.html.twig' %}

{% block title %}Listado de P贸lizas{% endblock %}

{% block body %}
<div class="container-fluid py-1 pt-3">
    <h1>Listado de P贸lizas</h1>

    <a class="btn btn-outline-dark py-1" href="{{ path('app_poliza_new') }}">Alta de nueva P贸liza</a>

    <table class="table table-striped mt-3">
        <thead>
            <tr>
                <th>Id</th>
                <th>Referencia</th>
                <th>Tipo</th>
                <th>Aseguradora</th>
                <th>Asegurado</th>
                <th>Inmueble</th>
                <th>opciones</th>
            </tr>
        </thead>
        <tbody>
        {% for poliza in polizas %}
            <tr>
                <td>{{ poliza.id }}</td>
                <td>{{ poliza.referencia }}</td>
                <td>{{ poliza.tipo }}</td>
                <td>{{ poliza.aseguradora }}</td>
                <td>{{ poliza.asegurado }}</td>
                <td>{{ poliza.inmueble }}</td>
                <td>
                    <a class="btn btn-outline-dark py-0 px-1" href="{{ path('app_poliza_show', {'id': poliza.id}) }}">Ver</a>
                    <a class="btn btn-outline-dark py-0 px-1" href="{{ path('app_poliza_edit', {'id': poliza.id}) }}">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">No se encontraron p贸lizas que mostrar</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>    
{% endblock %}
